<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.covn.homework_mybatis.repository.dao.StudentDao">
    <select id="FindAllStudent" resultType="String">
        select name className,chinese,math,english from student;
    </select>

    <select id="getScoreByName" resultType="cn.covn.homework_mybatis.model.pojo.vo.Score">
        select chinese,math,english from student where name=#{name};
    </select>
    <select id="getScoreById" resultType="cn.covn.homework_mybatis.model.pojo.vo.Score">
        select chinese,math,english from student where uid=#{id};
    </select>

    <update id="updateScoreByName">
        update student set chinese=#{score.chinese},math=#{score.math},english=#{score.english} where name=#{name}
    </update>

    <insert id="addStudent">
        insert into student (id,uid,name,class) values (null,#{uid},#{name},#{className})
    </insert>
</mapper>
