<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.covn.homework_mybatis.repository.dao.TeacherDao">
    <select id="getTeacherByUid" resultType="cn.covn.homework_mybatis.model.pojo.entity.Teacher">
        select * from teacher where uid=#{id};
    </select>

    <insert id="addTeacher">
        insert into teacher values(null,#{uid},#{name},#{salary})
    </insert>
</mapper>
